<div class="container">
  <div class="options">
    <app-solver-grid-actions></app-solver-grid-actions>
    <app-solver-value-options></app-solver-value-options>
    <app-solver-solution-options></app-solver-solution-options>
  </div>
  <app-solver-grid></app-solver-grid>
  <div class="tree-view">
    <mat-card class="scrollable-content">
      <mat-card-header><h2>Constraints</h2></mat-card-header>
      <mat-card-content>
        <app-solver-constraint-tree></app-solver-constraint-tree>
      </mat-card-content>
    </mat-card>
    <mat-card class="scrollable-content">
      <mat-card-header><h2>Solutions</h2></mat-card-header>
      <mat-card-content>
        <app-solver-solution-tree></app-solver-solution-tree>
      </mat-card-content>
    </mat-card>
  </div>
</div>
